In [2]:
import pandas as pd

df = pd.read_csv("data/loan_data.csv")
df = df[["loan_status", "person_income", "loan_intent", "loan_percent_income", "credit_score"]]
df.head()

   loan_status  person_income loan_intent  loan_percent_income  credit_score
0            1        71948.0    PERSONAL                 0.49           561
1            0        12282.0   EDUCATION                 0.08           504
2            1        12438.0     MEDICAL                 0.44           635
3            1        79753.0     MEDICAL                 0.44           675
4            1        66135.0     MEDICAL                 0.53           586

In [15]:
df.groupby("loan_status").agg({
    "person_income": ["mean", "min", "max"],
    "credit_score": ["mean", "min", "max"],
    "loan_percent_income": ["mean", "min", "max"]
})

            person_income                    credit_score            \
                     mean     min        max         mean  min  max
loan_status
0            86157.040743  9595.0  7200766.0   632.814914  390  850
1            59886.096900  8000.0   845636.0   631.887200  431  767

            loan_percent_income
                           mean  min   max
loan_status
0                      0.121783  0.0  0.66
1                      0.202521  0.0  0.62

In [18]:
df.groupby("loan_intent").agg({
    "loan_status": ["mean"]
})

                  loan_status
                         mean
loan_intent
DEBTCONSOLIDATION    0.302729
EDUCATION            0.169562
HOMEIMPROVEMENT      0.263015
MEDICAL              0.278194
PERSONAL             0.201404
VENTURE              0.144264